<div class="form-group" ng-form="imageForm">
    <label for="pwd">Cat URL:</label>
    <input type="text" class="form-control" id="url" name="url" ng-model="ip.url" cc-focus required validate-cat-url 
            ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
    />
    <div ng-show="imageForm.url.$touched">
        <p class="text-danger" ng-show="imageForm.url.$error.required">URL is mandatory</p>
        <p class="text-danger" ng-show="imageForm.url.$error.invalidUrl">Please enter a valid URL</p>
    </div>
</div>
<div>
    <img ng-src="{{ip.url}}" ng-if="imageForm.url.$valid" alt="Cat Pic Here" />
</div>