<div ng-controller="catDetailsController as nc" ng-cloak>
    <form name="catDetailsForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Cat Name:</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="nc.cat.name" required>
                    <p class="text-danger" ng-show="catDetailsForm.name.$touched && catDetailsForm.name.$error.required">Name is mandatory</p>
                </div>
                <image-preview url="nc.cat.url"></image-preview>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-danger" ui-sref="home">Cancel</button>
                <button class="btn btn-success" ng-disabled="catDetailsForm.$invalid" ng-click="nc.saveCatDetails(nc.cat)" allow-enter >Save</button>
            </div>
        </div>
    </form>
</div>