<div ng-controller="catsController as cc" ng-cloak>
    <a class="btn btn-primary pull-right" ui-sref="catDetails({id: 'new'})">Add New Cat</a>
    <div class="col-lg-6">
        <div class="form-inline">
            <div class="form-group">
                <label for="searchInput">Search:</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Search by Name" ng-model="cc.searchInput">
                <button class="btn btn-primary" ng-click="cc.searchCats()"> Search </button>
            </div>
        </div>
        <div class="form-group">
            <label for="orderSelect">Order By:</label>
            <select class="form-control" id="orderSelect" ng-model="cc.selectedOrder">
                    <option value="name">Ascending</option>
                    <option value="-name">Descending</option>
                </select>
        </div>

        <ul class="list-group cats-list">
            <li ng-repeat="cat in cc.cats | orderBy:cc.selectedOrder" ng-click="cc.selectCat(cat)" class="list-group-item"
                ng-class="{'active': cat.id === cc.selectedCat.id}">
                {{cat.name}} <span class="glyphicon glyphicon-trash" ng-click="cc.deleteCat($event, cat.id)"></span>
                <span class="badge" ui-sref="catDetails({id: cat.id})">&#x270E;</span>
                <span class="badge" ng-show="cat.isVisited">&#10004;</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-3" ng-if="cc.selectedCat">
        <p>
            <strong>Name: </strong> {{cc.selectedCat.name}}
        </p>
        <img class="cat-img" ng-src="{{cc.selectedCat.url}}" />
        <vote-spinner cat="cc.selectedCat"></vote-spinner>
    </div>
</div>